html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#map-id {
    padding: 0;
    margin: 0;
    width: calc(100vw - 100px);
    height: calc(100vh - 170px);
}

.alert {
    display: none;
}